#articles {
    height: fit-content;
    background-color: #09814b11;
    padding: 10px 0;
}

.articleHolder {
    max-width: 950px;
    display: flex;
    flex-direction: row;
    margin: 60px auto;
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.181);
}

.articleHolder:hover {
    scale: 1.05;
}

.articleImgHolder {
    max-width: 45%;
}

.articleImg {

    width: 400px;
    height: 220px;
    margin-bottom: -4px;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articleDescHolder {
    max-width: 55%;
}

.articleTitle {
    margin: 12px 0 12px 12px;
    justify-self: center;
    font-size: 32px;
}

.articleDesc {
    font-size: 18px;
    justify-self: center;
    margin: 0 0 12px 12px;
}

.articleLink {
    border: none;
    background-color: #122319;
    margin: 0 auto;
    padding: 12px;
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.articleLink:hover {
    background-color: #09814A;
    color: #E5C687;
    border-radius: 40px;
}

.darkTheme .articleLink {
    background-color: #fff;
    color: #000;
}

.darkTheme #articles,
.darkTheme #article {
    background-color: #121619;
}

.darkTheme #firstChild {
    background-color: #242424;
}

.darkTheme .articleh1,
.darkTheme .articleh2,
.darkTheme .articleIllustrationCredits,
.darkTheme .articleparagraph {
    color: #f5f5f5;
}

.darkTheme .articleHolder {
    background-color: #c4c4c4;
}

/* === Main Article === */

#article {
    margin: 0 auto;
    padding: 120px 0;
    background-color: #09814b11;
}

.articleIllustration {
    margin: 0 auto;
}

#illustration {
    width: 100%;
}

.articleh1 {
    font-size: 56px;
    font-weight: 700;
}

.articleh2 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 8px;
}

.articleparagraph {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.articleIllustrationCredits {
    color: black;
    font-size: 12px;
    padding-top: -12px;
}

#firstChild {
    background-color: #f5f5f5;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.181);
    max-width: 700px;
    margin: 0 auto;
    padding: 1%;
    padding-bottom: 24px;
}