/* =============== Main =============== */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  transition: all 700ms ease;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* =============== Main Classes =============== */

.click {
  cursor: pointer;
  text-decoration: none;
}

.content {
  margin-left: 245px;
}

.whiteColor {
  color: #f5f5f5;
}

.blackColor {
  color: black;
}

.goldColor {
  color: rgba(255, 177, 71, 1);
}

.colorfulGradient {
  background-color: #000;
  background-image: linear-gradient(90deg, rgba(255, 177, 71, 1) 0%, rgba(255, 108, 99, 1) 50%, rgba(184, 106, 223, 1) 100%);
}

.blackBG {
  background-color: #242424;
}

/* =============== Nav =============== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 245px;
  height: 100%;
  background-color: #000;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbarImage {
  width: 100%;
  margin-top: 48px;
  margin-bottom: 48px;
}

.navbarImage img {
  width: 100%;
  height: auto;
}

.navbarLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.navbarLinks li {
  margin-bottom: 12px;
}

.navbarLinks li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.navbarSocial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: auto;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-left: 12px;
  border-left: 2px solid rgb(140, 140, 140);
}

.navSocialIcon {
  background-color: white;
  color: black;
  font-size: 24px;
  padding: 8.5px 9.5px;
  border-radius: 32px;
  margin-bottom: 12px;
}

.navSocialIcon:hover {
  background: linear-gradient(90deg, rgba(255, 177, 71, 1) 0%, rgba(255, 108, 99, 1) 50%, rgba(184, 106, 223, 1) 100%);
  background-clip: text;
  color:transparent;}

.navbarFooter {
  margin-top: 20px;
  font-size: 16px;
  color: rgb(140, 140, 140);
}


/* =============== Landing Page =============== */
#landingPage {
  background-color: #f0f0f0;
  padding-top: 100px;
  padding-bottom: 100px;
}

header {
  padding: 40px 0 20px 0;
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

#hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 1200px;
  row-gap: 100px;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heroTitle {
  font-size: 64px;
  line-height: 90%;
  margin-bottom: 20px;
}

.colortest {
  background: linear-gradient(90deg, rgba(255, 177, 71, 1) 0%, rgba(255, 108, 99, 1) 50%, rgba(184, 106, 223, 1) 100%);
  background-clip: text;
  color: transparent;
}

.heroDesc {
  font-size: 32px;
  line-height: 150%;
}

.fa-angles-down{
  background: linear-gradient(90deg, rgba(255, 177, 71, 1) 0%, rgba(255, 108, 99, 1) 50%, rgba(184, 106, 223, 1) 100%);
  background-clip: text;
  color: transparent;
  font-size: 32px;

}

.aboutScroll{
  margin-left: -24px;
  margin-top: 12px;
  text-align: center;
}
#illustration {
  max-width: 500px;
}

/* =============== MENU ===============
.menu {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
}

.menubutton {
  font-weight: 600;
  cursor: pointer;
  color: black;
}

#showAllButton {
  display: none;
}

*/
/* =============== About =============== */
#About {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  background-color: #f0f0f0;
}

.aboutLeftColumn {
  max-width: 40%;
  margin: 0 auto;
}

.italicText {
  font-style: italic;
  font-size: 18px;
  text-align: left;
}

.boldText {
  font-weight: bold;
  font-size: 32px;
  text-align: left;
  margin-bottom: 24px;
}

.centeredMiddle{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
}

.aboutName {
  background: linear-gradient(90deg, rgba(255, 177, 71, 1) 0%, rgba(255, 108, 99, 1) 50%, rgba(184, 106, 223, 1) 100%);
  background-clip: text;
  color: transparent;
  font-size: 48px;
  margin-bottom: 16px;
}

.aboutSubtitle {
  font-size: 24px;
  margin-bottom: 16px;
}

.resumeBox {
  background-color: black;
  padding: 14px 20px 14px 24px;
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.resumeLink {
  position: relative;
  font-size: 24px;
  color: white;
  margin-right: 8px;
}

.resumeBox:hover .resumeLink {
  background: linear-gradient(90deg, rgba(255, 177, 71, 1) 0%, rgba(255, 108, 99, 1) 50%, rgba(184, 106, 223, 1) 100%);
  background-clip: text;
  color: transparent;
}

.aboutImg {
  max-width: 300px;
  width: 100%;
  margin-top: -22px;
  position: relative;
  z-index: 1;
}

.resumeArrowIcon {
  height: 20px;
}

.aboutRightColumn {
  max-width: 50%;
  margin: 50px auto 0 auto;
}

.coordsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 24px;
}

.coordsItem {
  flex-basis: calc(50% - 12px);
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  align-items: center;
}


.coordsText{
  font-weight: 600;
}

.coordsIcon{
  margin-right: 12px;
}
.infoRow {
  display: flex;
  justify-content: space-between;
}
.quote{
  background-color: black;
  font-size: 20px;
  padding: 40px;
}

.quoteText {
  color: white;
  font-style: italic;
  margin-top: -24px;
  z-index: 4;
}

.quoteImg{
  width: 64px;
  margin-left: -12px;
  margin-top: -96px;
  z-index: 3;
}

/* =============== Work Grid =============== */

#workGrid {
  background-color: #f0f0f0;
}

.container {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.workItem {
  display: block;
  position: relative;
  align-self: auto;
  max-width: 30%;
  overflow: hidden;
  margin: 1%;
  border-radius: 30px;
}

.workImageHolder {
  margin-bottom: -4px;
}

.workImage {
  width: 100%;
  position: center;
}

.workDescription {
  position: absolute;
  top: 5%;
  left: 20px;
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  max-width: fit-content;
  margin-right: 20px;
}

.workDescTitle {
  font-size: 40px;
}

.workDescText {
  margin-top: 8px;
  margin-right: 16px;
}

.workDescTag {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 12px;
  border-radius: 12px;
  font-weight: 600;
  width: fit-content;
  padding: 2px 8px;
}

/* =============== Footer =============== */
footer {
  position: relative;
  display: flex;
  padding: 0 0;
}

.footerRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLogoImg {
  width: 240px;
}

.footerSocialList {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 28px 0;
}

.footerLogoPopper {
  color: #f5f5f5;
  position: absolute;
  top: 0px;
  font-weight: 700;
  opacity: 0;
}

.footerAnchor {
  position: relative;
}

.footerSocialLink {
  color: #f5f5f5;
  margin-right: 24px;
  font-weight: 600;
}

.footerCopyright {
  color: rgb(140, 140, 140);
}

/* =============== Link Hover Effect =============== */

/* General */

.linkHoverEffect {
  position: relative;
}

.linkHoverEffect:after {
  content: "";
  position: absolute;
  bottom: -4px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}

.linkHoverEffect:hover:after {
  left: 0;
  width: 100%;
}

/* Variants */

.linkHoverEffectWhite:after {
  background-color: #fff;
}

.linkHoverEffectBlack:after {
  background-color: #242424;
}

.linkHoverEffectColor:after {
  background-image: linear-gradient(90deg, rgba(255, 177, 71, 1) 0%, rgba(255, 108, 99, 1) 50%, rgba(184, 106, 223, 1) 100%);
  height: 4px;
}

.linkHoverEffectColorCover:after {
  z-index: -1;
  background-image: linear-gradient(90deg, rgba(255, 177, 71, 1) 0%, rgba(255, 108, 99, 1) 50%, rgba(184, 106, 223, 1) 100%);
  height: 20px;
  bottom: 2px;
  left: -20px;
}

/* === DARK THEME === */
.darkTheme .personalLogoLight,
.personalLogoDark {
  display: block;
}

.darkTheme .personalLogoDark,
.personalLogoLight {
  display: none;
}

.darkTheme .squareLink {
  background-color: #C89666;
  color: white;
}

.alwaysWhite {
  color: white;
}

.darkTheme .fa-adjust {
  color: #C89666;
}

.darkTheme .fa-adjust:hover {
  color: #fff;
}

.darkTheme #landingPage,
.darkTheme #workGrid {
  background-color: #272727;
}

.darkTheme nav {
  background-color: #00000041;
}

.darkTheme button:hover {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.581);
}

.darkTheme .menubutton {
  color: #C89666;
}

.darkTheme .fa-adjust,
.darkTheme p,
.darkTheme h1 {
  color: white;
}

/* === Responsive === */

@media (min-width: 769px) {
  .navbarToggle {
    display: none;
  }

  .ThanosSnapPC {
    display: none;
  }

  .workItem:hover .workDescription {
    opacity: 1;
    transform: translateY(0%);
  }

  .workItem:hover .workImage {
    filter: brightness(0.2);
  }

  .footerAnchor:hover .footerLogoPopper {
    transform: translateX(20px);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbarToggle {
    display: block;
  }
}